<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.jdt.core.javaFormatter">
		<javaFormatter
			class="io.spring.javaformat.eclipse.plugin.SpringCodeFormatter"
			id="io.spring.javaformat.eclipse.plugin.formatter"
			name="Spring">
		</javaFormatter>
	</extension>
</plugin>
